.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__c3E9W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.freeBox__is6Iy {
  display: flex;
  flex-direction: row;
}
.freeBox__mK0Oi {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: var(--token-NEon4Y--Z);
}
.slotTargetSlot {
  text-align: left;
}
.svg__gDUh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
