.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 0px;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: 32px;
  min-width: 0;
  padding: 32px;
}
.freeBox__gYzqd {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-yyZzx3dSbKOi);
}
.freeBox__aQuIi {
  width: 100%;
  height: auto;
  max-width: var(--token-xdicajPNMUwc);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  column-gap: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aQuIi {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__bNf6O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 128px;
  row-gap: 16px;
  flex-shrink: 0;
}
.iconLink__hl0B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sNw5L {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__osrNb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__vx48H {
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__vx48H:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__sLk2R {
  position: relative;
  font-size: 14px;
  color: var(--token-jDO0b64q3h3Q);
}
.link__dwxwq {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__dwxwq:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__xU8Gy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  column-gap: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xU8Gy {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__y9LE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__tDelP {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1UGb6 {
  font-size: 14px;
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
}
.root .link___1UGb6:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pPt {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__pPt:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xRp96 {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__xRp96:hover {
  color: var(--token-NEon4Y--Z);
}
.link__s9Hd {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__s9Hd:hover {
  color: var(--token-NEon4Y--Z);
}
.link___5YoVl {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link___5YoVl:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___1Djg5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__f7PA3 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hUpAc {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__hUpAc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__g6ZhZ {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__g6ZhZ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__sqSaN {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__sqSaN:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zvDvQ {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__zvDvQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xZ6EU {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__xZ6EU:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__gpKml {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text___3Lrmp {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wrWr4 {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__wrWr4:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hcSnq {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__hcSnq:hover {
  color: var(--token-NEon4Y--Z);
}
.link__m3MoR {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__m3MoR:hover {
  color: var(--token-NEon4Y--Z);
}
.link___1TTy {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link___1TTy:hover {
  color: var(--token-NEon4Y--Z);
}
.link___7Nzkz {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link___7Nzkz:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ivJdg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__sBxZb {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__cRekl {
  position: relative;
  font-size: 14px;
  color: var(--token-jDO0b64q3h3Q);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___5J87 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__bsYzF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__r3DPw {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__qpn9E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__a65E8 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-yyZzx3dSbKOi);
}
.freeBox__j32Te {
  width: 100%;
  height: auto;
  max-width: var(--token-xdicajPNMUwc);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j32Te {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 8px;
  }
}
.freeBox__dp1Mz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__oh9Po {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  height: auto;
  font-size: 14px;
}
.root .link__oh9Po:hover {
  text-decoration-line: underline;
}
.link__wMtc4 {
  position: relative;
  color: var(--token-jDO0b64q3h3Q);
  font-size: 14px;
}
.root .link__wMtc4:hover {
  text-decoration-line: underline;
}
.text__bhel5 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-jDO0b64q3h3Q);
}
.freeBox__fhvnl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 16px;
}
.iconLink__d4H7Y:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__e9KP3 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__e9KP3:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__wo3LI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lr8F {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__lr8F:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__mpboE:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__k1Bbc {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__k1Bbc:hover {
  color: var(--token-dph1wZ7NjV9);
}
