.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #232320;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  column-gap: 4px;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 10px 20px;
  border-width: 0px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootsize_compact {
  padding: 6px 12px;
}
.rootcolor_blue {
  background: var(--token-p-fCTrfjtL4);
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_outlineBlue {
  background: #ffffff00;
  border: 1px solid var(--token-p-fCTrfjtL4);
}
.rootcolor_outlineRed {
  background: #fff0ee00;
  border: 1px solid #ca3214;
}
.rootcolor_clear {
  background: #23232000;
}
.rootshowStartIcon_shape_rounded {
  padding-left: 16px;
}
.rootshowStartIcon_size_compact {
  padding-left: 8px;
}
.rootshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.rootshowEndIcon_size_compact {
  padding-right: 8px;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:hover {
  background: #282826;
}
.root:active {
  background: #2e2e2b;
}
.rootcolor_blue:hover {
  background: #369eff;
}
.rootcolor_blue:active {
  background: #52a9ff;
}
.rootcolor_red:hover {
  background: #ec5e41;
}
.rootcolor_red:active {
  background: #f16a50;
}
.rootcolor_outlineBlue:hover {
  background: #e1f0ff;
}
.rootcolor_outlineBlue:active {
  background: #cee7fe;
}
.rootcolor_outlineRed:active {
  background: #fdd8d3;
}
.rootcolor_outlineRed:hover {
  background: #ffe6e2;
}
.rootcolor_clear:hover {
  background: var(--token-ECewHnPLa);
}
.rootcolor_clear:active {
  background: var(--token-3dsm_UqzX);
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ffffff;
}
.slotTargetStartIconcolor_outlineBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_outlineRed {
  color: #ca3214;
}
.svg__fPwgO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: var(--token-Be32eMps6Hg6);
  font-weight: 400;
  font-size: 16px;
  white-space: pre;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_outlineBlue {
  color: #006adc;
}
.slotTargetChildrencolor_outlineRed {
  color: #ca3214;
}
.slotTargetChildrencolor_clear {
  color: var(--token-jDO0b64q3h3Q);
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ffffff;
  font-size: 16px;
}
.slotTargetEndIconcolor_outlineBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_outlineRed {
  color: #ca3214;
}
.svg__vAkhB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
