@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-yyZzx3dSbKOi: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-yyZzx3dSbKOi);
  --token-Be32eMps6Hg6: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-Be32eMps6Hg6);
  --token-jDO0b64q3h3Q: #666666;
  --plasmic-token-text: var(--token-jDO0b64q3h3Q);
  --token-xdicajPNMUwc: 1104px;
  --plasmic-token-max-content-width: var(--token-xdicajPNMUwc);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-2aMciL6P7iR__font-family: "Inter", sans-serif;
  --mixin-2aMciL6P7iR__font-size: 18px;
  --mixin-2aMciL6P7iR__font-weight: 400;
  --mixin-2aMciL6P7iR__font-style: normal;
  --mixin-2aMciL6P7iR__color: var(--token-jDO0b64q3h3Q);
  --mixin-2aMciL6P7iR__text-align: left;
  --mixin-2aMciL6P7iR__text-transform: none;
  --mixin-2aMciL6P7iR__line-height: 1.5;
  --mixin-2aMciL6P7iR__letter-spacing: normal;
  --mixin-2aMciL6P7iR__white-space: pre-wrap;
  --mixin-2aMciL6P7iR__user-select: text;
  --mixin-2aMciL6P7iR__text-decoration-line: none;
  --mixin-2aMciL6P7iR__text-overflow: clip;
  --mixin-CAH_fdRsxBgR_font-family: "Inter", sans-serif;
  --mixin-CAH_fdRsxBgR_color: #000000;
  --mixin-CAH_fdRsxBgR_font-size: 72px;
  --mixin-CAH_fdRsxBgR_font-weight: 900;
  --mixin-CAH_fdRsxBgR_letter-spacing: -4px;
  --mixin-CAH_fdRsxBgR_line-height: 1;
  --mixin-CAH_fdRsxBgR_white-space: pre-wrap;
  --mixin-3ClfQtuntmHx_font-family: "Inter", sans-serif;
  --mixin-3ClfQtuntmHx_color: #000000;
  --mixin-3ClfQtuntmHx_font-size: 48px;
  --mixin-3ClfQtuntmHx_font-weight: 700;
  --mixin-3ClfQtuntmHx_letter-spacing: -1px;
  --mixin-3ClfQtuntmHx_line-height: 1.1;
  --mixin-3ClfQtuntmHx_white-space: pre-wrap;
  --mixin-0XQWpe8KylhS_font-family: "Inter", sans-serif;
  --mixin-0XQWpe8KylhS_color: #000000;
  --mixin-0XQWpe8KylhS_font-size: 32px;
  --mixin-0XQWpe8KylhS_font-weight: 600;
  --mixin-0XQWpe8KylhS_letter-spacing: -0.8px;
  --mixin-0XQWpe8KylhS_line-height: 1.2;
  --mixin-0XQWpe8KylhS_white-space: pre-wrap;
  --mixin-oj2TfdpmzeLZ_font-family: "Inter", sans-serif;
  --mixin-oj2TfdpmzeLZ_color: #000000;
  --mixin-oj2TfdpmzeLZ_font-size: 24px;
  --mixin-oj2TfdpmzeLZ_font-weight: 600;
  --mixin-oj2TfdpmzeLZ_letter-spacing: -0.5px;
  --mixin-oj2TfdpmzeLZ_line-height: 1.3;
  --mixin-oj2TfdpmzeLZ_white-space: pre-wrap;
  --mixin-Oj3uDIT-QUwf_font-family: "Inter", sans-serif;
  --mixin-Oj3uDIT-QUwf_color: #000000;
  --mixin-Oj3uDIT-QUwf_font-size: 20px;
  --mixin-Oj3uDIT-QUwf_font-weight: 600;
  --mixin-Oj3uDIT-QUwf_letter-spacing: -0.3px;
  --mixin-Oj3uDIT-QUwf_line-height: 1.5;
  --mixin-Oj3uDIT-QUwf_white-space: pre-wrap;
  --mixin-1bTlXgujL-6L_font-family: "Inter", sans-serif;
  --mixin-1bTlXgujL-6L_color: #000000;
  --mixin-1bTlXgujL-6L_font-size: 16px;
  --mixin-1bTlXgujL-6L_font-weight: 600;
  --mixin-1bTlXgujL-6L_line-height: 1.5;
  --mixin-1bTlXgujL-6L_white-space: pre-wrap;
  --mixin-eGevSbhLYjiM_border-left-color: #dddddd;
  --mixin-eGevSbhLYjiM_border-left-style: solid;
  --mixin-eGevSbhLYjiM_border-left-width: 3px;
  --mixin-eGevSbhLYjiM_color: #888888;
  --mixin-eGevSbhLYjiM_padding-left: 10px;
  --mixin-eGevSbhLYjiM_white-space: pre-wrap;
  --mixin-gpTm321zJgJM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gpTm321zJgJM_border-bottom-color: #dddddd;
  --mixin-gpTm321zJgJM_border-bottom-style: solid;
  --mixin-gpTm321zJgJM_border-bottom-width: 1px;
  --mixin-gpTm321zJgJM_border-left-color: #dddddd;
  --mixin-gpTm321zJgJM_border-left-style: solid;
  --mixin-gpTm321zJgJM_border-left-width: 1px;
  --mixin-gpTm321zJgJM_border-right-color: #dddddd;
  --mixin-gpTm321zJgJM_border-right-style: solid;
  --mixin-gpTm321zJgJM_border-right-width: 1px;
  --mixin-gpTm321zJgJM_border-top-color: #dddddd;
  --mixin-gpTm321zJgJM_border-top-style: solid;
  --mixin-gpTm321zJgJM_border-top-width: 1px;
  --mixin-gpTm321zJgJM_border-bottom-left-radius: 3px;
  --mixin-gpTm321zJgJM_border-bottom-right-radius: 3px;
  --mixin-gpTm321zJgJM_border-top-left-radius: 3px;
  --mixin-gpTm321zJgJM_border-top-right-radius: 3px;
  --mixin-gpTm321zJgJM_font-family: "Inconsolata";
  --mixin-gpTm321zJgJM_padding-bottom: 1px;
  --mixin-gpTm321zJgJM_padding-left: 4px;
  --mixin-gpTm321zJgJM_padding-right: 4px;
  --mixin-gpTm321zJgJM_padding-top: 1px;
  --mixin-gpTm321zJgJM_white-space: pre-wrap;
  --mixin-LBcI96266CKg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LBcI96266CKg_border-bottom-color: #dddddd;
  --mixin-LBcI96266CKg_border-bottom-style: solid;
  --mixin-LBcI96266CKg_border-bottom-width: 1px;
  --mixin-LBcI96266CKg_border-left-color: #dddddd;
  --mixin-LBcI96266CKg_border-left-style: solid;
  --mixin-LBcI96266CKg_border-left-width: 1px;
  --mixin-LBcI96266CKg_border-right-color: #dddddd;
  --mixin-LBcI96266CKg_border-right-style: solid;
  --mixin-LBcI96266CKg_border-right-width: 1px;
  --mixin-LBcI96266CKg_border-top-color: #dddddd;
  --mixin-LBcI96266CKg_border-top-style: solid;
  --mixin-LBcI96266CKg_border-top-width: 1px;
  --mixin-LBcI96266CKg_border-bottom-left-radius: 3px;
  --mixin-LBcI96266CKg_border-bottom-right-radius: 3px;
  --mixin-LBcI96266CKg_border-top-left-radius: 3px;
  --mixin-LBcI96266CKg_border-top-right-radius: 3px;
  --mixin-LBcI96266CKg_font-family: "Inconsolata";
  --mixin-LBcI96266CKg_padding-bottom: 3px;
  --mixin-LBcI96266CKg_padding-left: 6px;
  --mixin-LBcI96266CKg_padding-right: 6px;
  --mixin-LBcI96266CKg_padding-top: 3px;
  --mixin-LBcI96266CKg_white-space: pre-wrap;
  --mixin-qt0EJACtW4lu_display: flex;
  --mixin-qt0EJACtW4lu_flex-direction: column;
  --mixin-qt0EJACtW4lu_align-items: stretch;
  --mixin-qt0EJACtW4lu_justify-content: flex-start;
  --mixin-qt0EJACtW4lu_list-style-position: outside;
  --mixin-qt0EJACtW4lu_padding-left: 40px;
  --mixin-qt0EJACtW4lu_position: relative;
  --mixin-qt0EJACtW4lu_list-style-type: decimal;
  --mixin-qt0EJACtW4lu_white-space: pre-wrap;
  --mixin-GWMoIaqAKeMU_display: flex;
  --mixin-GWMoIaqAKeMU_flex-direction: column;
  --mixin-GWMoIaqAKeMU_align-items: stretch;
  --mixin-GWMoIaqAKeMU_justify-content: flex-start;
  --mixin-GWMoIaqAKeMU_list-style-position: outside;
  --mixin-GWMoIaqAKeMU_padding-left: 40px;
  --mixin-GWMoIaqAKeMU_position: relative;
  --mixin-GWMoIaqAKeMU_list-style-type: disc;
  --mixin-GWMoIaqAKeMU_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-YlzOi8hmAljq_white-space: pre-wrap;
  --plasmic-mixin-card-heading_white-space: var(
    --mixin-YlzOi8hmAljq_white-space
  );
  --mixin-IDn83nxtZ1IB_white-space: pre-wrap;
  --plasmic-mixin-centered-section-text_white-space: var(
    --mixin-IDn83nxtZ1IB_white-space
  );
  --mixin-k51tF1DEtSUM_white-space: pre-wrap;
  --plasmic-mixin-subheader_white-space: var(--mixin-k51tF1DEtSUM_white-space);
  --mixin-mW9Eso52Il6D_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-mW9Eso52Il6D_white-space
  );
  --mixin-_JjvaGxWvDWx_white-space: pre-wrap;
  --plasmic-mixin-content_white-space: var(--mixin-_JjvaGxWvDWx_white-space);
  --mixin-tQNq4G_TLCku_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-tQNq4G_TLCku_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-2aMciL6P7iR__font-family);
  font-size: var(--mixin-2aMciL6P7iR__font-size);
  font-weight: var(--mixin-2aMciL6P7iR__font-weight);
  font-style: var(--mixin-2aMciL6P7iR__font-style);
  color: var(--mixin-2aMciL6P7iR__color);
  text-align: var(--mixin-2aMciL6P7iR__text-align);
  text-transform: var(--mixin-2aMciL6P7iR__text-transform);
  line-height: var(--mixin-2aMciL6P7iR__line-height);
  letter-spacing: var(--mixin-2aMciL6P7iR__letter-spacing);
  white-space: var(--mixin-2aMciL6P7iR__white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-CAH_fdRsxBgR_font-family);
  color: var(--mixin-CAH_fdRsxBgR_color);
  font-size: var(--mixin-CAH_fdRsxBgR_font-size);
  font-weight: var(--mixin-CAH_fdRsxBgR_font-weight);
  letter-spacing: var(--mixin-CAH_fdRsxBgR_letter-spacing);
  line-height: var(--mixin-CAH_fdRsxBgR_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-3ClfQtuntmHx_font-family);
  color: var(--mixin-3ClfQtuntmHx_color);
  font-size: var(--mixin-3ClfQtuntmHx_font-size);
  font-weight: var(--mixin-3ClfQtuntmHx_font-weight);
  letter-spacing: var(--mixin-3ClfQtuntmHx_letter-spacing);
  line-height: var(--mixin-3ClfQtuntmHx_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-0XQWpe8KylhS_font-family);
  color: var(--mixin-0XQWpe8KylhS_color);
  font-size: var(--mixin-0XQWpe8KylhS_font-size);
  font-weight: var(--mixin-0XQWpe8KylhS_font-weight);
  letter-spacing: var(--mixin-0XQWpe8KylhS_letter-spacing);
  line-height: var(--mixin-0XQWpe8KylhS_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-oj2TfdpmzeLZ_font-family);
  color: var(--mixin-oj2TfdpmzeLZ_color);
  font-size: var(--mixin-oj2TfdpmzeLZ_font-size);
  font-weight: var(--mixin-oj2TfdpmzeLZ_font-weight);
  letter-spacing: var(--mixin-oj2TfdpmzeLZ_letter-spacing);
  line-height: var(--mixin-oj2TfdpmzeLZ_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-Oj3uDIT-QUwf_font-family);
  color: var(--mixin-Oj3uDIT-QUwf_color);
  font-size: var(--mixin-Oj3uDIT-QUwf_font-size);
  font-weight: var(--mixin-Oj3uDIT-QUwf_font-weight);
  letter-spacing: var(--mixin-Oj3uDIT-QUwf_letter-spacing);
  line-height: var(--mixin-Oj3uDIT-QUwf_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-1bTlXgujL-6L_font-family);
  color: var(--mixin-1bTlXgujL-6L_color);
  font-size: var(--mixin-1bTlXgujL-6L_font-size);
  font-weight: var(--mixin-1bTlXgujL-6L_font-weight);
  line-height: var(--mixin-1bTlXgujL-6L_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-eGevSbhLYjiM_color);
  padding-left: var(--mixin-eGevSbhLYjiM_padding-left);
  border-left: var(--mixin-eGevSbhLYjiM_border-left-width)
    var(--mixin-eGevSbhLYjiM_border-left-style)
    var(--mixin-eGevSbhLYjiM_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-gpTm321zJgJM_font-family);
  border-radius: var(--mixin-gpTm321zJgJM_border-top-left-radius)
    var(--mixin-gpTm321zJgJM_border-top-right-radius)
    var(--mixin-gpTm321zJgJM_border-bottom-right-radius)
    var(--mixin-gpTm321zJgJM_border-bottom-left-radius);
  padding: var(--mixin-gpTm321zJgJM_padding-top)
    var(--mixin-gpTm321zJgJM_padding-right)
    var(--mixin-gpTm321zJgJM_padding-bottom)
    var(--mixin-gpTm321zJgJM_padding-left);
  border-top: var(--mixin-gpTm321zJgJM_border-top-width)
    var(--mixin-gpTm321zJgJM_border-top-style)
    var(--mixin-gpTm321zJgJM_border-top-color);
  border-right: var(--mixin-gpTm321zJgJM_border-right-width)
    var(--mixin-gpTm321zJgJM_border-right-style)
    var(--mixin-gpTm321zJgJM_border-right-color);
  border-bottom: var(--mixin-gpTm321zJgJM_border-bottom-width)
    var(--mixin-gpTm321zJgJM_border-bottom-style)
    var(--mixin-gpTm321zJgJM_border-bottom-color);
  border-left: var(--mixin-gpTm321zJgJM_border-left-width)
    var(--mixin-gpTm321zJgJM_border-left-style)
    var(--mixin-gpTm321zJgJM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-LBcI96266CKg_font-family);
  border-radius: var(--mixin-LBcI96266CKg_border-top-left-radius)
    var(--mixin-LBcI96266CKg_border-top-right-radius)
    var(--mixin-LBcI96266CKg_border-bottom-right-radius)
    var(--mixin-LBcI96266CKg_border-bottom-left-radius);
  padding: var(--mixin-LBcI96266CKg_padding-top)
    var(--mixin-LBcI96266CKg_padding-right)
    var(--mixin-LBcI96266CKg_padding-bottom)
    var(--mixin-LBcI96266CKg_padding-left);
  border-top: var(--mixin-LBcI96266CKg_border-top-width)
    var(--mixin-LBcI96266CKg_border-top-style)
    var(--mixin-LBcI96266CKg_border-top-color);
  border-right: var(--mixin-LBcI96266CKg_border-right-width)
    var(--mixin-LBcI96266CKg_border-right-style)
    var(--mixin-LBcI96266CKg_border-right-color);
  border-bottom: var(--mixin-LBcI96266CKg_border-bottom-width)
    var(--mixin-LBcI96266CKg_border-bottom-style)
    var(--mixin-LBcI96266CKg_border-bottom-color);
  border-left: var(--mixin-LBcI96266CKg_border-left-width)
    var(--mixin-LBcI96266CKg_border-left-style)
    var(--mixin-LBcI96266CKg_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qt0EJACtW4lu_display);
  flex-direction: var(--mixin-qt0EJACtW4lu_flex-direction);
  align-items: var(--mixin-qt0EJACtW4lu_align-items);
  justify-content: var(--mixin-qt0EJACtW4lu_justify-content);
  list-style-position: var(--mixin-qt0EJACtW4lu_list-style-position);
  padding-left: var(--mixin-qt0EJACtW4lu_padding-left);
  position: var(--mixin-qt0EJACtW4lu_position);
  list-style-type: var(--mixin-qt0EJACtW4lu_list-style-type);
  column-gap: var(--mixin-qt0EJACtW4lu_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-GWMoIaqAKeMU_display);
  flex-direction: var(--mixin-GWMoIaqAKeMU_flex-direction);
  align-items: var(--mixin-GWMoIaqAKeMU_align-items);
  justify-content: var(--mixin-GWMoIaqAKeMU_justify-content);
  list-style-position: var(--mixin-GWMoIaqAKeMU_list-style-position);
  padding-left: var(--mixin-GWMoIaqAKeMU_padding-left);
  position: var(--mixin-GWMoIaqAKeMU_position);
  list-style-type: var(--mixin-GWMoIaqAKeMU_list-style-type);
  column-gap: var(--mixin-GWMoIaqAKeMU_column-gap);
}
