.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  row-gap: 64px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___69G6C {
  width: 100%;
  height: auto;
  max-width: var(--token-xdicajPNMUwc);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___69G6C {
    width: 100%;
    height: auto;
    max-width: var(--token-xdicajPNMUwc);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__q0Dpk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q0Dpk {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__xy5Gy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__u6Lvi {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u6Lvi {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__iAgdv {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iAgdv {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__niujn {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__niujn {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__zytre {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 12px;
}
.button__nUueK:global(.__wab_instance) {
  position: relative;
}
.svg__tazTv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ii68D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wCrtx:global(.__wab_instance) {
  position: relative;
}
.svg__crOY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kmjaf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___40B66 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__kJHtF {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kJHtF > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 24px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t4Ucf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__t4Ucf {
    width: 100%;
  }
}
.freeBox__fb9ZQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fb9ZQ {
    width: 100%;
    min-width: 0;
  }
}
.text__glu0T {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__pvNZd {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard___85Ygo:global(.__wab_instance) {
  position: relative;
}
.svg__gdZqI {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__c2V7G {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__i6Qn:global(.__wab_instance) {
  position: relative;
}
.svg__xfgsu {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___0WbFw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cafGs:global(.__wab_instance) {
  position: relative;
}
.svg__hBbG {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___6TJiY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column___2ARyE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2ARyE {
    width: 100%;
  }
}
.img__oe1Vh {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oe1Vh > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__hyGws {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  min-width: 0;
}
.featureCard__tGPoJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qugka {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__c8CIl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vd83:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__riNdo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__pakv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sHoAi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3HQov {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__dAy5B {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___0YwEo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kKetp {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__iPwth {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__or0D6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___22Vn0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__xaew4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___76EFd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rtQw7 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Be32eMps6Hg6);
}
.svg__o5VGa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__f0Unl {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-yyZzx3dSbKOi);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__jzkWa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 64px;
  min-width: 0;
}
.freeBox__os0Mu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 24px;
}
.svg__gKn7R {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__nhZo {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__t1WjB {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___6ItLs {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__g8WSe {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
